.header {
    background: #272020;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    margin: 15px 0px;
    padding: 10px;
    text-align: left;

  }
  
  .header__h1 {
    display: inline-block;
    margin: 20px;
  }
  
  .header__button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-left: 40px;
    margin: 0;
    padding: 0;
  }