
.main__separator {
    background: black;
  }
  
  .main__separator--darkTheme {
    background: white;
  }
  
  .main__separator {
    border-radius: 50%;
    height: 3px;
  }

  .sectionMovies__a {
    font-family: Helvetica, sans-serif;
  }

  .sectionMovies__a:link,
  .sectionMovies__a:visited {
    color: #094663;
  }


  .sectionMovies__a--darkTheme:link,
  .sectionMovies__a--darkTheme:visited {
    color: white
  }